.profilephoto img{
    width: 400px;
    border-radius: 50%;
    height: 400px;

}

body{
    background: aqua;
}

.profilephoto{
    display: grid;
    grid-template-columns:30% 65%;
    gap: 5%;
    align-items: center; 
    padding: 30px;
    border: 5px solid red;
}

.profilephoto h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;
    padding: 30px;
}

.about div{
    border: 5px solid red;
}

h1{
    font-size: 20px;
}